.side-menu {
  position: relative;
  width: 20rem;
  height: 100%;
  /* background-color: rgb(8, 11, 22); */
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.side-style {
  position: relative;
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.2rem;
  margin-top: 3rem;
  cursor: pointer;
  background-color: rgb(14, 19, 38);
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 10px rgb(14, 19, 38);
}

.purp-border {
  position: absolute;
  left: 0%;
  width: 50%;
  height: 100%;
  background-color: purple;
  border: 2px solid purple;
  border-radius: 0.4rem;
  z-index: 5;
}

.slideRight {
  animation: slideRight 0.5s ease-in-out forwards;
}

@keyframes slideRight {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

.slideLeft {
  animation: slideLeft 0.5s ease-in-out forwards;
}

@keyframes slideLeft {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}

.toggle-page {
  display: flex;
  border: none;
  border-radius: 0.4rem;
}

.main-d {
  z-index: 10;
  font-family: "Open Sans";
  font-size: 1rem;
  color: rgb(215, 207, 207) !important;
  font-weight: 800;
}
.meme-d {
  z-index: 10;
  font-family: "Open Sans";
  font-size: 1rem;
  color: rgb(215, 207, 207) !important;
  font-weight: 800;
}

.i1 {
  position: absolute;
  left: -3rem;
}

.watchlist:hover .i1 {
  transition: all 0.1s ease-in-out;
  position: relative;
  position: absolute;
  transform: translateX(230%);
}

.side-style:hover p {
  color: white;
}
.i2 {
  position: absolute;
  left: -3rem;
}

.search-contract:hover .i2 {
  transition: all 0.1s ease-in-out;
  position: relative;
  position: absolute;
  transform: translateX(230%);
}

.save-to-desk:hover .fa-floppy-disk {
  color: white;
}

.i3 {
  position: absolute;
  left: -3rem;
}

.man-notif:hover .i3 {
  transition: all 0.1s ease-in-out;
  position: relative;
  position: absolute;
  transform: translateX(210%);
}

.fa-hand-holding-dollar {
  color: white;
  font-size: 1.5rem;
}

.i4 {
  position: absolute;
  left: -3rem;
}

.converter:hover .i4 {
  transition: all 0.1s ease-in-out;
  position: relative;
  position: absolute;
  transform: translateX(210%);
}

.side-text {
  color: rgb(215, 207, 207);
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: 2px;
  z-index: 10;
}

.side-text-abs {
  position: relative;
  color: white;
}

.fa-clock {
  color: white;
  font-size: 1.5rem;
}

.fa-magnifying-glass-chart {
  color: white;
  font-size: 1.5rem;
}

.fa-floppy-disk {
  color: rgb(215, 207, 207);
  font-size: 1.5rem;
}

.fa-comment-dollar {
  color: white;
  font-size: 1.5rem;
}

.download-href {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 5rem;
  width: 100%;
}

.fa-floppy-disk {
  margin-right: 1rem;
}
