* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: rgb(8, 11, 22);
  /* background-color: red; */
  width: 100vw;
  overflow-x: hidden;
}

nav {
  position: relative;
  background-color: rgb(8, 11, 22);
  width: 100%;
  height: 6rem;
}

.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

li {
  text-decoration: none;
  list-style-type: none;
}

li > a {
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
  list-style: none;
  text-decoration: none;
  font-size: 1.4rem;
}

.brand-logo {
  position: absolute;
  height: 5rem;
  left: 4rem;
  top: 0.5rem;
  cursor: pointer;
}

.nav-list {
  position: relative;
  top: 2rem;
  height: 4rem;
  left: 20%;
}

.li-ho1 {
  position: absolute;
  left: 23rem;
  color: rgb(219, 219, 218);
}

.li-ho2 {
  position: absolute;
  left: 30rem;
  color: rgb(219, 219, 218);
}

.li-ho3 {
  position: absolute;
  left: 40rem;
  color: rgb(219, 219, 218);
}

.li-ho4 {
  position: absolute;
  left: 70rem;
  color: rgb(219, 219, 218);
}

.li-ho1:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho2:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho3:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho4:hover {
  transition: all 0.1s ease-in-out;
  color: white;
}

.main-container {
  position: relative;
  width: 100%;
  background-color: rgb(226, 94, 94);
  height: 50.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-container {
  position: relative;
  height: 100%;
  width: 85%;
  background-color: rgb(8, 11, 22);
  display: grid;
  gap: 0.5rem;

  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 125px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: blue;
  margin: 0.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.2rem;
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  left: -1%;
  width: 101%;
  height: 101%;
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
  display: flex;
  justify-content: flex-end;
}

.card-fat {
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
}

.card-title {
  font-size: 2.5rem;
  text-align: center;
}

.c-mid {
  font-size: 2rem;
}

.c-small {
  font-size: 1.6rem;
}

.c-small2 {
  font-size: 1.4rem;
}

.c-small3 {
  font-size: 1.2rem;
}

.card-price {
  font-size: 1.5rem;
}

.card-percentage {
  font-size: 1.25rem;
}

.card-title-fat {
  font-size: 4.5rem;
}

.card-price-fat {
  font-size: 2.75rem;
}

.card-percentage-fat {
  font-size: 1.75rem;
}

.card-title-wide {
  font-size: 3.5rem;
}

.card-price-wide {
  font-size: 1.75rem;
}

.card-percentage-wide {
  font-size: 1rem;
}

.card-title-tall {
  font-size: 3.5rem;
}

.card-price-tall {
  font-size: 1.75rem;
}

.card-percentage-tall {
  font-size: 1rem;
}

.eth {
  font-size: 3rem;
}

.d1 {
  background: linear-gradient(#eb2626, #cd5f9c) !important;
}

.d2 {
  background: linear-gradient(#ed0b0b, #b41333) !important;
}

.u1 {
  background: linear-gradient(to left, #00bf8f, #085342) !important;
}

.u2 {
  background: linear-gradient(to left, #6cbf5d, #09ee11) !important;
}

.neutral {
  background: linear-gradient(to left, #6969b8, #9e4577) !important;
}

.shiba-price {
  font-size: 1.1rem;
}

@media only screen and (max-width: 1915px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-auto-rows: 115px;
  }
}

@media only screen and (max-width: 1780px) {
  .c-last {
    display: none;
  }
}

@media only screen and (max-width: 1660px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 110px;
  }
}

@media only screen and (max-width: 1595px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }
}

@media only screen and (max-width: 1490px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }
  .c-last {
    display: flex;
  }
  .c-last2 {
    display: none;
  }
}

@media only screen and (max-width: 1370px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: 90px;
  }
}

@media only screen and (max-width: 1265px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-auto-rows: 70px;
  }
}

@media only screen and (max-width: 1050px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-auto-rows: 60px;
  }
}
