* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: rgb(8, 11, 22);
  /* background-color: red; */
  width: 100vw;
  overflow-x: hidden;
}

nav {
  position: relative;
  background-color: rgb(8, 11, 22);
  width: 100%;
  height: 6rem;
}

.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

li {
  text-decoration: none;
  list-style-type: none;
}

li > a {
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
  list-style: none;
  text-decoration: none;
  font-size: 1.4rem;
}

.brand-logo {
  position: absolute;
  height: 5rem;
  left: 4rem;
  top: 0.5rem;
  cursor: pointer;
}

.nav-list {
  position: relative;
  top: 2rem;
  height: 4rem;
  left: 20%;
}

.li-ho1 {
  position: absolute;
  left: 23rem;
  color: rgb(219, 219, 218);
}

.li-ho2 {
  position: absolute;
  left: 30rem;
  color: rgb(219, 219, 218);
}

.li-ho3 {
  position: absolute;
  left: 40rem;
  color: rgb(219, 219, 218);
}

.li-ho4 {
  position: absolute;
  left: 70rem;
  color: rgb(219, 219, 218);
}

.li-ho1:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho2:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho3:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho4:hover {
  transition: all 0.1s ease-in-out;
  color: white;
}

.hr-div {
  position: relative;
  width: 95%;
  left: 2.5%;
  height: 1px;
  /* background-color: rgb(200, 195, 195); */
  background-color: transparent;
}

.main-container {
  position: relative;
  width: 100%;
  background-color: blue;
  height: 50.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-container {
  position: relative;
  height: 100%;
  width: 85%;
  background-color: rgb(8, 11, 22);
  display: grid;
  gap: 0.5rem;

  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 125px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: blue;
  margin: 0.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.2rem;
}

.card:hover {
  left: -1%;
  width: 101%;
  height: 101%;
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
}

.card-fat {
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
}
