@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: rgb(8, 11, 22);
  /* background-color: red; */
  width: 100vw;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.inv {
  visibility: hidden !important;
}

nav {
  position: relative;
  background-color: rgb(8, 11, 22);
  width: 100%;
  height: 6rem;
}

.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

li {
  text-decoration: none;
  list-style-type: none;
}

li > a {
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
  list-style: none;
  text-decoration: none;
  font-size: 1.4rem;
}

.constr {
  position: absolute;
  color: white;
  top: 45rem;
  left: 2rem;

  z-index: 100;
  font-size: 0.8rem;
  font-family: "Press Start 2P", sans-serif;
}

.brand-logo {
  position: absolute;
  height: 5rem;
  left: 4rem;
  top: 0.5rem;
  cursor: pointer;
}

.nav-list {
  position: relative;
  top: 2rem;
  height: 4rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8rem;
}

.li-ho1 {
  position: absolute;
  /* left: 34%; */
  color: rgb(219, 219, 218);
  padding-left: 1.2rem;
}

.li-ho2 {
  position: absolute;
  /* left: 40%; */
  color: rgb(219, 219, 218);
}

.li-ho3 {
  position: absolute;
  /* left: 48%; */
  color: rgb(219, 219, 218);
  padding-left: 1.5rem;
}

.li-ho4 {
  position: absolute;
  padding-left: 18rem;
  color: rgb(219, 219, 218);
}

.li-ho1:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho2:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho3:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho4:hover {
  transition: all 0.1s ease-in-out;
  color: white;
}

.main-container {
  position: relative;
  width: 100%;
  background-color: rgb(226, 94, 94);
  height: 50.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-container {
  position: relative;
  height: 100%;
  width: 85%;
  background-color: rgb(8, 11, 22);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 125px;
}

.rotater {
  animation: rotates 1.2s ease-in-out 1;
}

@keyframes rotates {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  50% {
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: blue;
  margin: 0.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.2rem;
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  left: -1%;
  width: 101%;
  height: 101%;
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
  display: flex;
  justify-content: flex-end;
}

.card-fat {
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
}

.card-title {
  font-size: 2.5rem;
  text-align: center;
}

.c-mid {
  font-size: 2rem;
}

.c-small {
  font-size: 1.6rem;
}

.c-small2 {
  font-size: 1.4rem;
}

.c-small3 {
  font-size: 1.2rem;
}

.card-price {
  font-size: 1.5rem;
}

.card-percentage {
  font-size: 1.25rem;
}

.card-title-fat {
  font-size: 4.5rem;
}

.card-price-fat {
  font-size: 2.75rem;
}

.card-percentage-fat {
  font-size: 1.75rem;
}

.card-title-wide {
  font-size: 3rem;
}

.card-price-wide {
  font-size: 1.75rem;
}

.card-percentage-wide {
  font-size: 1rem;
}

.card-title-tall {
  font-size: 3.5rem;
}

.card-price-tall {
  font-size: 1.75rem;
}

.card-percentage-tall {
  font-size: 1rem;
}

.eth {
  font-size: 3rem;
}

.d1 {
  background: linear-gradient(#eb2626, #cd5f9c) !important;
}

.d2 {
  background: linear-gradient(#ed0b0b, #b41333) !important;
}

.u1 {
  background: linear-gradient(to left, #00bf8f, #085342) !important;
}

.u2 {
  background: linear-gradient(to left, #6cbf5d, #09ee11) !important;
}

.neutral {
  background: linear-gradient(to left, #6969b8, #9e4577) !important;
}

.shiba-price {
  font-size: 1.1rem;
}

.lightbox {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(29, 185, 196);
  border: 1px solid rgb(29, 185, 196);
  background-color: rgb(14, 19, 38);
  border-radius: 0.4rem;
  font-family: "Open Sans";
  color: white;
  z-index: 50;
}

.notification-box {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(29, 185, 196);
  border: 1px solid rgb(29, 185, 196);
  background-color: black;
  border-radius: 0.4rem;
  font-family: "Open Sans";
  color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-anim-container {
  height: 30rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* border: 1px solid rgb(29, 185, 196);
  box-shadow: 0px 0px 10px rgb(29, 185, 196); */
  border-radius: 0.6rem;
}

.notif-anim-container2 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.notif-anim-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
}

.result-upper {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  width: 95%;
  height: 48%;
  border-radius: 1rem;
}

.result-lower {
  position: relative;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  width: 95%;
  height: 48%;
  border-radius: 1rem;
}

.result-output-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.result-setup-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.setup-title {
  text-align: center;
  margin-top: 0.5rem;
}

.state-coinname {
  margin-top: 3.5rem;
  text-align: center;
}

.coin-param {
  margin-top: 1rem;
  position: relative;
  left: 38%;
  background-color: white;
  border: 1px solid white;
}

.coin-param option {
  color: white;
}

.result-modal {
  position: relative;
  width: 96%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  border: 1px solid white;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-coin-query {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  width: 17rem;
  font-family: "Open Sans";
  font-weight: 800;
  border-radius: 0.2rem;
  border: none;
}

.notif-push {
  font-family: "Open Sans";
  padding: 0.75rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 800;
  border: 2px solid white;
  background: transparent;
  color: white;
  transition: all 0.2s ease-in-out;
}

.notif-push:hover {
  color: black;
  background: white;
}

.coin-search {
  font-family: "Open Sans";
  padding: 0.75rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: black;
  border: 1px solid white;
}

.coin-search:hover {
  color: black;
  background-color: white;
}

.state-coinname {
  font-size: 2rem;
  font-weight: 800;
}

.by {
  font-size: 2rem;
  font-weight: 800;
}

.allow-text {
  text-align: center;
}

.specify-text {
  text-align: center;
}

.coin-fetch-title {
  font-family: "Open Sans";
  font-size: 4rem;
}
.coin-fetch-output {
  font-family: "Open Sans";
  font-size: 4rem;
}

.target-price-expected {
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: 800;
}

.dropshadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: rgba(16, 20, 16, 0.71);
}

.fa-x {
  position: absolute;
  color: white;
  font-size: 2rem;
  left: 93%;
  top: 2rem;
  cursor: pointer;
  z-index: 10;
}

.rank {
  position: relative;
  font-size: 2rem;
  color: white;
}

.coin-name {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
  /* background-color: red; */
  text-align: center;
}

.chart-container {
  position: relative;
  height: 42rem;
  top: 3rem;
}

.tradingview-widget-container {
  position: relative;
  height: 30rem;
  width: 100%;
}

#chartbox {
  width: 100%;
  position: relative;
  height: 40rem;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fallback {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in forwards;
}

.disclaimer {
  margin-top: 1rem;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
}

.romspan {
  color: green;
  text-decoration: none;
}

.sitespan {
  color: white;
  text-decoration: none;
}

.refresh-button {
  position: relative;
  background-color: transparent;
  border: none;
  top: 4rem;
}

.fa-arrow-rotate-right {
  color: rgb(172, 168, 168);
  font-size: 3rem;
  position: relative;
  cursor: pointer;
}

.refreshRotate {
  animation: rotating ease-in-out 1s forwards;
}

.search-contract-box {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(29, 185, 196);
  border: 1px solid rgb(29, 185, 196);
  background: linear-gradient(90deg, #c33764, #1d2671);
  border-radius: 0.4rem;
  font-family: "Open Sans";
  color: white;
  z-index: 50;
}

.slideOutDiv {
  animation: slideOut 1.5s ease-in-out forwards;
}

.slideInDiv {
  animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.input-container {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 30%;
  width: 40%;
  top: 5rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.9rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.t1 {
  text-align: center;
  margin-top: 1rem;
  font-weight: 800;
  color: green;
}

.t2 {
  padding-left: 1rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: green;
}

.t2a {
  color: white;
}

.t3 {
  padding-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: green;
}
.t3a {
  color: white;
}

.t4 {
  padding-left: 1rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: green;
}

.t4a {
  color: white;
}

.t5 {
  padding-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: green;
}

.t5a {
  color: white;
}

.return-result {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  transform: rotate(180deg);
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.return-result:hover {
  color: red;
}

.result-container {
  position: absolute;
  left: 30%;
  width: 40%;
  top: 5rem;
  height: 30rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.result-boxes {
  position: absolute;
  width: 100%;
  height: 40rem;
  top: 5rem;
  transition: all 0.3s ease-in-out;
}

.search-input-box {
  border-radius: 0.9rem;
  width: 30rem;
  height: 30rem;
}

.error-text {
  color: red;
  font-family: "Open Sans";
}

.error-text2 {
  color: red;
  font-family: "Open Sans";
}

.search-title {
  font-family: "Open Sans";
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.blockchains {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.75rem 1.75rem;
  border-radius: 0.4rem;
  width: 13rem;
  cursor: pointer;
}

.contract-input::placeholder {
  color: white;
}

.contract-input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.75rem 1.75rem;
  border-radius: 0.4rem;
  width: 13rem;
}

option {
  background-color: black;
}

.opt2 {
  background-color: transparent;
}

.seach-coin-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid white;
  font-family: "Open Sans";
  cursor: pointer;
  font-weight: 800;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.seach-coin-btn:hover {
  color: black;
  background-color: white;
}

.opacityOut {
  animation: opaOut 1s ease-in-out forwards;
}

@keyframes opaOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1915px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-auto-rows: 115px;
  }
}

@media only screen and (max-width: 1780px) {
  .c-last {
    display: none;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-price {
    font-size: 1.3rem;
  }

  .card-percentage {
    font-size: 1.1rem;
  }

  .card-title-fat {
    font-size: 3rem;
  }

  .card-price-fat {
    font-size: 2.3rem;
  }

  .card-percentage-fat {
    font-size: 1.75rem;
  }

  .card-title-wide {
    font-size: 3rem;
  }

  .card-price-wide {
    font-size: 1.5rem;
  }

  .card-percentage-wide {
    font-size: 1rem;
  }

  .card-title-tall {
    font-size: 3.2rem;
  }

  .card-price-tall {
    font-size: 1.75rem;
  }

  .card-percentage-tall {
    font-size: 1rem;
  }

  .shiba-price {
    font-size: 1rem;
  }
  .eth {
    font-size: 2.8rem;
  }
  .algo {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1660px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 110px;
  }
}

@media only screen and (max-width: 1595px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }
  .card-title-wide {
    font-size: 2.4rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
  .bitcoincash {
    font-size: 1.2rem;
  }
  .card-price {
    font-size: 1.2rem;
  }
  .card-percentage {
    font-size: 1rem;
  }
  .shiba-price {
    font-size: 0.8rem;
  }
  .chainlink {
    font-size: 1.1rem;
  }
  .eth {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 1490px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }
  .c-last {
    display: flex;
  }
  .c-last2 {
    display: none;
  }
  .compound {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1400px) {
  .eth {
    font-size: 2.4rem;
  }
  .arweave {
    font-size: 1.1rem;
  }
  .compound {
    font-size: 0.9rem;
  }
  .synthetix {
    font-size: 1.1rem;
  }
  .cardano {
    font-size: 1.1rem;
  }
  .algo {
    font-size: 1.1rem;
  }
  .uniswap {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1370px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: 90px;
  }
  .ethclassic {
    font-size: 1rem;
  }
  .card-price {
    font-size: 1.1rem;
  }
  .card-percentage {
    font-size: 0.9rem;
  }
  .card-title-wide {
    font-size: 1.8rem;
  }
  .card-price-wide {
    font-size: 1.3rem;
  }
  .bitcoincash {
    font-size: 1rem;
  }
  .shiba-price {
    font-size: 0.7rem;
  }
  .polkadot {
    font-size: 1rem;
  }
  .polygon {
    font-size: 1rem;
  }
  .cosmos {
    font-size: 1rem;
  }
  .cardano {
    font-size: 1rem;
  }
  .synthetix {
    font-size: 0.8rem;
  }
  .osmosis {
    font-size: 1rem;
  }
  .eth {
    font-size: 2.1rem;
  }
  .xrp {
    font-size: 2.3rem;
  }
}

/* @media only screen and (max-width: 1300px) {
} */

@media only screen and (max-width: 1265px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-auto-rows: 70px;
  }
  .card-title {
    font-size: 0.7rem;
  }
  .card-price {
    font-size: 0.6rem;
  }
  .card-percentage {
    font-size: 0.5rem;
  }
  .card-title-fat {
    font-size: 2rem;
  }
  .eth {
    font-size: 1.6rem;
  }
  .card-price-fat {
    font-size: 1.2rem;
  }
  .card-percentage-fat {
    font-size: 1rem;
  }
  .card-title-wide {
    font-size: 1.2rem;
  }
  .card-price-wide {
    font-size: 1rem;
  }
  .card-percentage-wide {
    font-size: 0.9rem;
  }
  .xrp {
    font-size: 1.3rem;
  }
  .xrp-price {
    font-size: 1rem;
  }
  .xrp-change {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1150px) {
  .li-ho4 {
    padding-left: 15rem;
  }
}

@media only screen and (max-width: 1050px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-auto-rows: 60px;
  }
  .main-page {
    display: none;
  }
  .fallback {
    display: flex !important;
    font-size: 3vw;
  }
}
