@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1.3rem;
  background-color: white;
}
::-webkit-scrollbar-track {
  background: black;
  border: 2px solid black;
  /* border-radius: 1rem; */
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  color: black;
  background: white;
  border-radius: 1rem;
  width: 0.5rem;
  border: 4px solid transparent;
  background-clip: padding-box;
}

html {
  background-color: rgb(8, 11, 22);
  /* background-color: red; */
  width: 100vw;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.inv {
  visibility: hidden !important;
}

.fadeOut {
  animation: fadeOut 0.1s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rotateDiv {
  animation: rotateDiv 0.4s ease-in-out forwards;
}

.login-btn {
  cursor: pointer;
  color: rgb(219, 219, 218);
}

.logout-btn {
  cursor: pointer;
  position: absolute;
  padding-left: 10rem !important;
  color: rgb(219, 219, 218);
}

.logout-btn:hover {
  transition: all 0.1s ease-in-out;
  color: white;
}

.logout-btn:hover {
  transition: all 0.1s ease-in-out;
  color: white;
}

@keyframes rotateDiv {
  0% {
    position: absolute;
  }
  100% {
    position: absolute;
    width: 61%;
    height: 43.5rem;
    background-color: rgb(25, 21, 36);
  }
}

.rotateDivBack {
  animation: rotateDivBack 0.4s ease-in-out forwards;
}

@keyframes rotateDivBack {
  0% {
    position: absolute;
  }
  100% {
    position: absolute;
    width: 20rem;
    height: 30rem;
  }
}

nav {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 6rem;
}

.meme-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: linear-gradient(90deg, #00ffa3, #03e1ff, #dc1fff, #306a9c);
}

.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.darkToColor {
  transition: all 1.2s ease-in-out;
  animation: darkToColor 1.2s ease-in-out forwards;
}

@keyframes darkToColor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.colorToDark {
  transition: all 1.2s ease-in-out;
  animation: colorToDark 1.2s ease-in-out forwards;
}

@keyframes colorToDark {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.search-button {
  position: absolute;
  background-color: transparent;
  top: 1.5rem;
  left: 20rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.refresh-counter {
  position: absolute;
  color: white;
  z-index: 200;
  text-align: center;
  margin-right: 4px;
  font-size: 0.7rem;
}

.refresh-button {
  position: absolute;
  top: 1.5rem;
  left: 24rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  z-index: 10;
}

.colorWhite {
  transition: all 1s ease-in-out;
  color: white !important;
}

.fa-arrow-rotate-right {
  color: rgb(172, 168, 168);
  font-size: 2.5rem;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.refresh-button:hover .fa-arrow-rotate-right {
  color: rgba(255, 255, 255, 0.79);
}

.fa-magnifying-glass {
  color: rgb(172, 168, 168);
  font-size: 2.5rem;
  transition: all 0.1s ease-in-out;
}

.fa-magnifying-glass:hover {
  color: rgba(255, 255, 255, 0.79);
}

li {
  text-decoration: none;
  list-style-type: none;
}

li > a {
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
  list-style: none;
  text-decoration: none;
  font-size: 1.4rem;
}

.constr {
  position: absolute;
  color: white;
  top: 45rem;
  left: 2rem;

  z-index: 100;
  font-size: 0.8rem;
  font-family: "Press Start 2P", sans-serif;
}

.brand-logo-div {
  background-color: rgb(8, 10, 22);
  position: absolute;
  width: 17.8rem;
  height: 5rem;
  top: 0.5rem;
  left: 0.8rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px rgb(14, 19, 38);
}

.brand-logo {
  position: relative;
  height: 5rem;
  left: 4rem;
  cursor: pointer;
}

.nav-list {
  position: relative;
  top: 2rem;
  height: 4rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8rem;
}

.li-ho1 {
  position: absolute;
  /* left: 34%; */
  color: rgb(219, 219, 218);
  padding-left: 1.2rem;
}

.li-ho2 {
  position: absolute;
  /* left: 40%; */
  color: rgb(219, 219, 218);
}

.li-ho3 {
  position: absolute;
  /* left: 48%; */
  color: rgb(219, 219, 218);
  padding-left: 1.5rem;
}

.li-ho4 {
  position: absolute;
  left: 70vw;
  color: rgb(219, 219, 218);
}

.li-ho1:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho2:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho3:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho4:hover {
  transition: all 0.1s ease-in-out;
  color: white;
}

.main-container {
  position: relative;
  width: 100%;
  /* background-color: rgb(226, 94, 94); */
  height: 50.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-container {
  position: relative;
  height: 100%;
  width: 85%;
  background-color: transparent;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 125px;
}

.tile-container-m {
  position: relative;
  height: 100%;
  width: 85%;
  background-color: transparent;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 125px;
}

.rotater {
  animation: rotates 1.2s ease-in-out 1;
}

@keyframes rotates {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  50% {
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: blue;
  margin: 0.2rem;
  color: rgba(255, 255, 255, 0.872);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.2rem;
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: 2px;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  top: -0.5%;
  left: -0.5%;
  width: 102%;
  height: 102%;
  box-shadow: 0px 0px 8px cyan;
  border: 1px solid red;
}

.card-tall {
  text-align: center;
  grid-row: span 2 / auto;
}

.card-tall:hover {
  top: -0.5%;
  left: -0.5%;
  width: 101%;
  height: 101%;
}

.card-wide {
  grid-column: span 2 / auto;
  display: flex;
  justify-content: flex-end;
}
.card-wide:hover {
  top: -0.5%;
  left: -0.5%;
  width: 101%;
  height: 101%;
}

.card-fat {
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
}
.card-fat:hover {
  top: -0.5%;
  left: -0.5%;
  width: 101%;
  height: 101%;
}

.card-title {
  font-size: 2.5rem;
  text-align: center;
}

.c-mid {
  font-size: 2rem;
}

.c-small {
  font-size: 1.6rem;
}

.c-small2 {
  font-size: 1.4rem;
}

.c-small3 {
  font-size: 1.2rem;
}

.card-price {
  font-size: 1.5rem;
}

.card-percentage {
  font-size: 1.25rem;
}

.card-title-fat {
  text-align: center;
  font-size: 4.5rem;
}

.card-price-fat {
  font-size: 2.75rem;
}

.card-percentage-fat {
  font-size: 1.75rem;
}

.card-title-wide {
  font-size: 3rem;
}

.card-price-wide {
  font-size: 1.75rem;
}

.card-percentage-wide {
  font-size: 1rem;
}

.card-title-tall {
  font-size: 3.5rem;
}

.card-price-tall {
  font-size: 1.75rem;
}

.card-percentage-tall {
  font-size: 1rem;
}

.eth {
  font-size: 3rem;
}

.d1 {
  background: linear-gradient(#eb2626, #cd5f9c) !important;
}

.d2 {
  background: linear-gradient(#ed0b0b, #b41333) !important;
}

.u1 {
  background: linear-gradient(to left, #00bf8f, #085342) !important;
}

.u2 {
  background: linear-gradient(to left, #6cbf5d, #09ee11) !important;
}

.neutral {
  background: linear-gradient(to left, #6969b8, #9e4577) !important;
}

.shiba-price {
  font-size: 1.1rem;
}

.samoy-title {
  font-size: 2rem !important;
}

.lightbox {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  border: 1px solid rgb(140, 20, 156);
  background: linear-gradient(to right, #0f0c29, #24243e);
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 50;
  overflow: hidden;
}

.notification-box {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  border: 1px solid rgba(140, 20, 156, 0.556);
  background-color: black;
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-anim-container {
  padding-top: 11rem;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  border-radius: 0.6rem;
}

.notif-anim-container2 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.notif-anim-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
  border-radius: 1rem;
}

.result-upper {
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(to right, #200c29, #24243e);
  box-shadow: 1px 1px 10px rgb(140, 20, 156);
  width: 93%;
  height: 46%;
  border-radius: 1rem;
}

.fadeModalOut {
  animation: fadeOut 0.3s ease-in forwards;
}
.fadeOut {
  animation: fadeOut 0.2s ease-in forwards;
}

.fadeBoxIn {
  animation: fadeBoxIn 0.5s ease-in-out forwards;
}

@keyframes fadeBoxIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeBoxOut {
  animation: fadeBoxOut 0.5s ease-in-out forwards;
}

@keyframes fadeBoxOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.current-price {
  text-align: center;
  color: gray;
  text-shadow: 0px 3px 5px rgb(140, 20, 156);
}

.coin-fetch-output {
  text-align: center;
  font-size: 35px !important;
  font-weight: 800;
  background: -webkit-linear-gradient(
    90deg,
    rgb(90, 148, 185),
    rgb(1, 247, 50)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coin-fetch-title {
  text-align: center;
  margin-top: 4rem;
  font-size: 45px;
  background: -webkit-linear-gradient(rgb(130, 181, 212), rgb(140, 20, 156));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-lower {
  margin-top: 1rem;
  position: relative;
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(to left, #0f0c29, #1a1a2c);
  box-shadow: 1px 1px 10px rgb(140, 20, 156);
  width: 93%;
  height: 46%;
  border-radius: 1rem;
}

.target-price {
  text-align: center;
  color: gray;
  text-shadow: 0px 3px 5px rgb(140, 20, 156);
}

.target-price-title {
  text-align: center;
  font-size: 45px;
  background: -webkit-linear-gradient(rgb(130, 181, 212), rgb(140, 20, 156));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3.5rem;
}

.target-price-expected {
  text-align: center;
  font-size: 35px !important;
  background: -webkit-linear-gradient(
    90deg,
    rgb(90, 148, 185),
    rgb(1, 247, 50)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Open Sans";
  font-weight: 800;
}

.center-alert-btn {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.alert-button {
  font-family: "Open Sans";
  background-color: transparent;
  border: 2px solid rgb(140, 20, 156);
  color: white;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-weight: 800;
  font-size: 1.2rem;
  animation: hover 1s ease-in-out infinite;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.alert-button:hover {
  background-color: rgb(140, 20, 156);
}

.fa-arrow-turn-down {
  font-size: 4rem;
  color: rgba(140, 20, 156, 0.502);
  position: absolute;
  left: 0rem;
  top: 7rem;
}

.fa-ar {
  transform: rotate(90deg);
  font-size: 4rem;
  color: rgba(140, 20, 156, 0.502);
  position: absolute;
  left: 0.5rem;
  top: 38rem;
}

@keyframes hover {
  0% {
    position: absolute;
    transform: translateY(0rem);
  }
  50% {
    position: absolute;
    transform: translateY(0.2rem);
  }
  100% {
    position: absolute;
    transform: translateY(0rem);
  }
}

.result-output-box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
}
.result-setup-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.result-modal {
  position: relative;
  width: 93%;
  height: 50%;
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(to right, #0f0c29, #24243e);
  border-radius: 1rem;
  box-shadow: 1px 1px 10px rgb(140, 20, 156);
  margin-right: 1rem;
}

.percentage-box {
  margin-top: 1rem;
  position: relative;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.user-percentage-input {
  position: relative;
  padding: 0.3rem 0rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  width: 4rem;
  font-size: 1.2rem;
  text-align: center;
  outline: 0;
  background-color: transparent;
  border: 2px solid rgb(140, 20, 156);
  color: white;
  font-weight: 800;
}

.msg-modal {
  position: absolute;
  color: white;
  background-color: #080b16;
  border: 2px solid rgb(140, 20, 156);
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  border-radius: 0.6rem;
  width: 15rem;
  height: 5rem;
  left: 45%;
  top: 3rem;
  z-index: 100;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 0.75rem;
}

.msgAnimate {
  animation: msgFade 4s ease-in-out forwards;
}

@keyframes msgFade {
  0% {
    display: initial;
    transform: translateY(-5rem);
    opacity: 1;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(4rem);
    opacity: 0;
    display: none;
  }
}

.setup-title {
  text-align: center;
  margin-top: 0.5rem;
  color: gray;
  text-shadow: 0px 3px 5px rgb(140, 20, 156);
}

.state-coinname {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.coin-param {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(140, 20, 156);
  border-radius: 0.4rem;
  font-size: 1.5rem;
  width: 10rem;
  outline: 0;
  cursor: pointer;
}

.center-options {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.coin-param option {
  color: white;
  background-color: black;
}

.user-coin-query {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  width: 17rem;
  font-family: "Open Sans";
  font-weight: 800;
  border-radius: 0.2rem;
  border: none;
  outline: 0;
  text-decoration: none;
}

.calculate-price {
  margin-top: 4rem;
  position: relative;
  width: 10rem;
  background-color: transparent;
  border: 2px solid rgb(140, 20, 156);
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem 2rem;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.calculate-price:hover {
  background-color: rgb(163, 34, 181);
  border: 2px solid transparent;
}

.calculate-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.notif-push {
  font-family: "Open Sans";
  padding: 0.75rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 800;
  border: 2px solid rgb(140, 20, 156);
  background: transparent;
  color: white;
  transition: all 0.15s ease-in-out;
}

.notif-push:hover {
  background: rgb(140, 20, 156);
}

.not-working {
  position: absolute;
  top: 45rem;
  color: white;
  font-family: "Open Sans";
  cursor: pointer;
}

.reset-img {
  /* position: absolute; */
  top: 37rem;
}

.coin-search {
  font-family: "Open Sans";
  padding: 0.75rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.15s ease-in-out;
  color: white;
  background-color: black;
  border: 2px solid rgb(140, 20, 156);
}

.coin-search:hover {
  background-color: rgb(140, 20, 156);
}

.by {
  position: relative;
  top: -0.15rem;
  font-size: 2rem;
  font-weight: 800;
  padding-right: 0.5rem;
}

.perc-span {
  position: relative;
  top: -0.15rem;
}

.enter-number {
  color: red;
  position: absolute;
  font-family: "Open Sans";
}

.allow-text {
  text-align: center;
}

.specify-text {
  text-align: center;
}

.dropshadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: rgba(16, 20, 16, 0.71);
}

.dropshadow-contr {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: rgba(16, 20, 16, 0.71);
}

.dropshadow-srch {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: rgba(16, 20, 16, 0.71);
}

.fa-x {
  position: absolute;
  color: white;
  font-size: 2rem;
  left: 93%;
  top: 2rem;
  cursor: pointer;
  z-index: 10;
}

.search-back {
  position: absolute;
  color: white;
  font-size: 2rem;
  top: 2rem;
  left: 2rem;
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 10;
}

.search-back:hover {
  color: red;
}

.rank {
  position: relative;
  font-size: 2rem;
  color: white;
}

.coin-name {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
  background: -webkit-linear-gradient(
    90deg,
    rgb(210, 39, 210),
    rgba(172, 78, 191, 0.479)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}

.dropIn {
  animation: dropIn 1s ease-in forwards;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.chart-container {
  position: relative;
  height: 42rem;
  top: 4.8rem;
}

.tradingview-widget-container {
  position: relative;
  height: 30rem;
  width: 100%;
}

#chartbox {
  width: 100%;
  position: relative;
  height: 40rem;
}

.fadeDivIn {
  animation: fadeDivIn 0.3s ease-in-out forwards;
}

@keyframes fadeDivIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fallback {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in forwards;
}

.disclaimer {
  position: relative;
  color: white;
  font-size: 0.9rem;
  text-align: center !important;
  font-family: "Press Start 2P", sans-serif;
}

.romspan {
  color: green;
  text-decoration: none;
}

.sitespan {
  color: white;
  text-decoration: none;
}

.refreshRotate {
  animation: rotating ease-in-out 1s forwards;
}

.search-contract-box {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  background: linear-gradient(to right, #0f0c29, #24243e);
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 50;
}

.watchlist-div {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  background: linear-gradient(to right, #0f0c29, #24243e);
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 50;
  overflow: hidden;
}

.modal-dropshadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  background-color: rgba(16, 20, 16, 0.71);
  border-radius: 1rem;
  z-index: 50;
  overflow: hidden;
}

.no-search-res {
  position: absolute;
  top: 4rem;
  font-family: "Open Sans";
  font-weight: 700;
  color: red;
}

.no-search-res2 {
  position: absolute;
  top: 4rem;
  font-family: "Open Sans";
  font-weight: 700;
  color: red;
}

.toggle-watchlist {
  position: relative;
  width: 100%;
  height: 4rem;
  top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}

.view-watchlist {
  color: white;
  z-index: 30;
  font-family: "Open Sans";
  cursor: pointer;
}

.watchlist-box {
  position: relative;
  width: 99%;
  left: 0.3%;
  height: 40rem;
  top: 5.8rem;
  /* background-color: blue; */
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 40%;
  top: 10rem;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.watch-top {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  /* background-color: #00bf8f; */
  margin-bottom: 0.3rem;
}

.watch-low {
  position: relative;
  width: 100%;
  /* border: 1px solid white; */
  height: 38.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  overflow: scroll;
}

.watch-item {
  position: relative;
  background: linear-gradient(
    45deg,
    rgb(57, 60, 170),
    rgb(211, 5, 243),
    rgb(195, 45, 218),
    rgb(188, 52, 198),
    rgb(57, 60, 170)
  );
  width: 98%;
  height: 3rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-title {
  font-family: "Inter";
  font-size: 1.5rem;
  position: relative;
  width: 30%;
  left: 2%;
  background: -webkit-linear-gradient(rgb(161, 159, 166), rgb(82, 211, 200));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-item-text {
  position: relative;
  font-size: 2vw;
  top: 10rem;
  background: -webkit-linear-gradient(rgb(58, 49, 136), rgb(169, 33, 142));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watch-price {
  font-family: "Inter";
  /* background-color: red; */
  width: 25%;
  background: -webkit-linear-gradient(rgb(216, 224, 218), rgb(27, 218, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watch-24h-change {
  background: -webkit-linear-gradient(rgb(240, 240, 243), rgb(186, 181, 190));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.percentage-daily {
  font-family: "Inter";
  /* background-color: red; */
  width: 25%;
  background: -webkit-linear-gradient(rgb(216, 224, 218), rgb(27, 218, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.daily-down {
  font-family: "Inter";
  /* background-color: red; */
  width: 25%;
  background: -webkit-linear-gradient(rgb(217, 108, 71), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watch-24h-change {
  font-family: "Inter";
  width: 25%;
}

.delete-from-watch {
  position: absolute;
  left: 95%;
  height: auto;
  width: auto;
  background-color: transparent;
  border: none;
}

.fa-circle-minus {
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.fa-circle-minus:hover {
  color: red;
}

.add-item-div {
  position: absolute;
  top: 0rem;
  left: 30%;
  width: 40%;
  height: 30rem;
  /* background-color: rgb(140, 20, 156); */
  background: radial-gradient(#e085e9, #9198e5);
  border-radius: 0.4rem;
  z-index: 500;
}

.add-item-inner {
  position: relative;
  width: 100%;
  top: 6rem;
  height: 10rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-result-lower {
  position: relative;
  width: 80%;
  left: 10%;
  top: 7.3rem;
  height: 9rem;
  /* background-color: rgb(191, 31, 191); */
  background-color: black;
  display: flex;
  border-radius: 0.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: none;
}

.item-result-lower:hover {
  box-shadow: 0px 0px 5px rgb(112, 8, 248);
}

.item-result-lower:hover .add-span {
  color: rgb(112, 8, 248);
}

.search-res-title {
  font-family: "Inter";
  font-size: 1.5vw;
  position: relative;
  top: -3rem;
  color: white;
  z-index: 30;
}

.add-span {
  font-family: "Inter";
  font-size: 1.2vw;
  position: absolute;
  left: 60%;
  top: 6.5rem;
  transition: all 0.1s ease-in-out;
  color: white;
  z-index: 30;
}

.coin-result-logo {
  position: absolute;
  height: 10rem;
  left: -3rem;
  opacity: 0.35;
}

.coin-search-input {
  padding: 0.5rem 0rem;
  padding-left: 0.5rem;
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: 0;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 3px;
  text-align: left;
  outline: 0;
}

.coin-search-input::placeholder {
  color: white;
  text-align: left;
  letter-spacing: 3px;
}

.add-search-button {
  margin-top: 2.5rem;
  padding: 0.5rem 0rem;
  width: 80%;
  border: none;
  background-color: rgb(112, 8, 248);
  /* background-color: rgb(191, 31, 191); */
  font-family: "Open Sans";
  color: rgb(239, 236, 236);
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.add-search-button:hover {
  background-color: rgb(191, 31, 191);
}

.assets-box {
  position: relative;
  width: 99%;
  left: 0.3%;
  height: 40rem;
  top: 5.8rem;
}

.view-assets {
  color: rgb(159, 151, 151);
  z-index: 30;
  font-family: "Open Sans";
  cursor: pointer;
}

.add-to-watchlist {
  position: relative;
  width: 10rem;
  height: 3rem;
  border: none;
  background-color: rgb(191, 31, 191);
  font-family: "Inter";
  color: rgb(239, 236, 236);
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  /* padding: 0.6rem 0.25rem; */
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-watchlist:hover {
  background-color: rgb(177, 29, 177);
  color: white;
}

.fa-plus {
  font-size: 1.25rem;
  color: white;
}

.add-left {
  position: relative;
  height: 100%;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-right {
  position: relative;
  height: 3rem;
  width: 3rem;
  left: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 29, 177);
}

.fadeColorIn {
  animation: fadeColorIn 0.5s ease-in-out forwards;
}

@keyframes fadeColorIn {
  from {
    color: rgb(159, 151, 151);
  }
  to {
    color: white;
  }
}

.fadeColorOut {
  animation: fadeColorOut 0.5s ease-in-out forwards;
}

@keyframes fadeColorOut {
  from {
    color: white;
  }
  to {
    color: rgb(159, 151, 151);
  }
}

.slideOutDiv {
  animation: slideOut 1.5s ease-in-out forwards;
}

.slideInDiv {
  animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.input-container {
  background-color: rgb(25, 21, 36);
  position: absolute;
  left: 30%;
  width: 40%;
  top: 5rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.9rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.t1a {
  position: relative;
  width: 90%;
  left: 5%;
  top: 4.7rem;
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  color: rgb(214, 210, 210);
  background-color: rgb(126, 28, 126);
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  font-family: "Inter";
}

.res-price {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -4.3rem;
  width: 90%;
  left: 5%;
}

.t2 {
  position: relative;
  font-size: 1.3rem;
  font-weight: 800;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 30%;
  height: 100%;
  color: rgb(214, 210, 210);
  text-align: start;
  padding-left: 0.5rem;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}

.t2a {
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 67.5%;
  color: white;
  text-align: start;
  padding-left: 0.5rem;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}

.res-rank {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -3.8rem;
  width: 90%;
  left: 5%;
}

.t3 {
  position: relative;
  font-size: 1.3rem;
  font-weight: 800;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 30%;
  color: rgb(214, 210, 210);
  text-align: start;
  padding-left: 0.5rem;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}
.t3a {
  position: relative;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 67.5%;
  color: white;
  text-align: start;
  padding-left: 0.5rem;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}

.res-cat {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -3.3rem;
  width: 90%;
  left: 5%;
}

.t4 {
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 30%;
  color: rgb(214, 210, 210);
  text-align: center;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}

.t4a {
  height: 100%;
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 67.5%;
  color: white;
  text-align: start;
  padding-left: 0.5rem;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}

.res-sym {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -2.8rem;
  width: 90%;
  left: 5%;
}

.t5 {
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 30%;
  color: rgb(214, 210, 210);
  text-align: start;
  padding-left: 0.5rem;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}

.t5a {
  height: 100%;
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  width: 67.5%;
  color: white;
  text-align: start;
  padding-left: 0.5rem;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}

.res-total {
  position: relative;
  width: 90%;
  left: 5%;
  top: -2.3rem;
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  color: rgb(214, 210, 210);
  background-color: rgb(126, 28, 126);
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  font-family: "Inter";
}

.res-total-sup {
  height: 76%;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 0rem;
  color: white;
  text-align: center;
  padding-left: 0.5rem;
  background-color: rgb(126, 28, 126);
  font-family: "Inter";
}

.total-title {
  font-size: 1rem;
}

.return-result {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  transform: rotate(180deg);
  position: relative;
  top: -2.3rem;
  left: 1.3rem;
  cursor: pointer;
}

.return-result:hover {
  color: rgb(126, 28, 126);
}

.result-container {
  position: absolute;
  left: 30%;
  width: 40%;
  top: 5rem;
  height: 30rem;
  background-color: rgb(25, 21, 36);
  border-radius: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.result-flex {
  position: relative;
  width: 100%;
  /* background-color: red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.result-boxes {
  position: absolute;
  width: 100%;
  height: 40rem;
  top: 5rem;
  transition: all 0.3s ease-in-out;
}

.search-input-box {
  border-radius: 0.9rem;
  width: 30rem;
  height: 30rem;
}

.error-text {
  color: red;
  font-family: "Open Sans";
}

.error-text2 {
  color: red;
  font-family: "Open Sans";
}

.search-title {
  font-family: "Open Sans";
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.blockchains {
  background-color: transparent;
  border: 1px solid rgb(140, 20, 156);
  color: white;
  padding: 0.75rem 1.75rem;
  border-radius: 0.4rem;
  width: 13rem;
  cursor: pointer;
}

.contract-input::placeholder {
  color: white;
}

.contract-input {
  background-color: transparent;
  border: 1px solid rgb(140, 20, 156);
  color: white;
  padding: 0.75rem 1.75rem;
  border-radius: 0.4rem;
  width: 13rem;
  font-family: "Open Sans";
}

option {
  background-color: black;
  border: 2px solid black;
  font-family: "Open Sans";
  border: none;
}

select {
  outline: 0;
}

option:focus {
  outline: none;
  border: 1px solid rgb(140, 20, 156) !important;
}

.opt2 {
  background-color: transparent;
}

.seach-coin-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(140, 20, 156);
  font-family: "Open Sans";
  cursor: pointer;
  font-weight: 800;
  padding: 0.5rem 1.25rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.seach-coin-btn:hover {
  color: white;
  background-color: rgb(140, 20, 156);
}

.opacityOut {
  animation: opaOut 1s ease-in-out forwards;
}

@keyframes opaOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-modal {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  border: 1px solid rgba(140, 20, 156, 0.556);
  background-color: black;
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.search-inner-modal {
  position: relative;
  width: 20rem;
  height: 30rem;
  background-color: rgb(25, 21, 36);
  border-radius: 1rem;
}

.search-modal-title {
  padding-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
}

.search-coin-input {
  position: relative;
  width: 60%;
  top: 6rem;
  left: 20%;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  outline: 0;
  font-size: 1.3rem;
}

input:focus {
  outline: none;
}

.search-coin-btn {
  position: relative;
  width: 10rem;
  height: 3rem;
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(140, 20, 156);
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.search-coin-btn:hover {
  background-color: rgb(140, 20, 156);
}

.cntr-sr-btn {
  top: 7rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.cant-find {
  color: red;
}

.search-inner-result {
  position: relative;
  width: 61%;
  height: 43.5rem;
  background-color: rgb(25, 21, 36);
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 1.4rem;
  gap: 0.7rem;
  overflow: hidden;
}

.box-s1 {
  position: relative;
  width: 90%;
  height: 9rem;
  /* background-color: rgb(32, 39, 47); */
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.search-img-box {
  position: relative;
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;
  overflow: hidden;
}

.search-middle-box {
  width: 50%;
  height: 9rem;
}

.up-down {
  width: auto;
  height: 9rem;
  border-radius: 0.5rem;
  font-family: "Helvetica";
}

.up-down2 {
  width: auto;
  height: 9rem;
  border-radius: 0.5rem;
  font-family: "Helvetica";
}

.res-img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  z-index: 5;
}

.fluctuate {
  padding: 0.25rem 1.8rem;
  width: 3rem;
  height: 1.8rem;
  font-family: "Open Sans";
  font-size: 0.9rem;
  border-radius: 0.6rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-side {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.coin-title {
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
}

.fetched-rank {
  display: inline-block;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 0.4rem;
  font-family: "Helvetica";
}

.search-flex-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 9rem;
  gap: 5%;
}

.search-right-box {
  position: relative;
  width: 30%;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.circ-perc-box {
  /* position: relative; */
  width: 100%;
  height: 4rem;
  background: linear-gradient(to right, rgb(222, 67, 152), rgb(155, 64, 201));
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circ-amount-box {
  margin-top: 0.4rem;
  right: 1.1rem;
  position: relative;
  width: 120%;
  height: 4rem;
  background: linear-gradient(to right, rgb(222, 67, 152), rgb(64, 84, 201));
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circ-l {
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-family: "Helvetica";
}

.circ-s {
  font-family: "Helvetica";
  font-size: 0.9rem;
  padding-bottom: 0.25rem;
}

.circ-count {
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 0.9rem;
}

.circ-title {
  font-size: 1rem;
  font-family: "Helvetica";
}

.box-s2 {
  position: relative;
  width: 90%;
  height: 7rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
}

.bg-up {
  background: linear-gradient(
    135deg,
    rgb(68, 104, 58),
    rgb(68, 104, 58),
    rgb(32, 39, 47),
    rgb(32, 39, 47)
  );
}
.bg-down {
  background: linear-gradient(
    135deg,
    rgb(188, 67, 63),
    rgb(188, 67, 63),
    rgb(32, 39, 47),
    rgb(32, 39, 47)
  );
  text-shadow: 0px 0px 1px white;
}

.net-change {
  font-size: 0.8rem;
  font-family: "Helvetica";
  display: inline-block;
}
.total-sup-title {
  font-size: 0.8rem;
  font-family: "Helvetica";
  display: inline-block;
  color: rgb(154, 151, 159);
}

.mark-price-title {
  font-size: 0.8rem;
  font-family: "Helvetica";
  display: inline-block;
  color: rgb(154, 151, 159);
}

.mark-price-high {
  font-size: 1.4rem;
}

.mark-price-low {
  font-size: 1.4rem;
}

.ath-date {
  font-size: 1.4rem;
}

.price-perc-change {
  color: rgb(118, 219, 140);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
}

.box-s3 {
  position: relative;
  width: 90%;
  height: 6rem;
  background-color: rgb(32, 39, 47);
  /* border: 1px solid white; */
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
}

.box-s4 {
  position: relative;
  width: 90%;
  height: 5rem;
  background-color: rgb(32, 39, 47);
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
}

.total-sup {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
}

.fa-layer-group {
  color: rgb(154, 151, 159);
  left: 1.5rem;
  top: 1.5rem;
  font-size: 3rem;
  position: absolute;
}

.s3-textbox {
  position: relative;
  left: 5rem;
  top: 0.5rem;
}

.s4-textbox {
  /* position: relative; */
  left: 5rem;
  top: 0.5rem;
}

.total-sup {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

.mark-price {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

.box-s5 {
  position: relative;
  width: 90%;
  height: 5rem;
  /* background-color: rgb(32, 39, 47); */
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.7rem;
}

.s5-left {
  position: relative;
  width: 49%;
  height: 5rem;
  background-color: rgb(32, 39, 47);
  border-radius: 0.5rem;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
}

.s5-right {
  position: relative;
  width: 49%;
  height: 5rem;
  background-color: rgb(32, 39, 47);
  border-radius: 0.5rem;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
}

.inner-search-close {
  position: relative;
  left: 85%;
  font-size: 1.5rem;
}

.box-s6 {
  position: relative;
  width: 90%;
  height: 5rem;
  background-color: rgb(32, 39, 47);
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.7rem;
  padding-top: 0.7rem;
}

.web-div {
  position: relative;
  width: 13rem;
  height: 1.5rem;
  top: 2.3rem;
  text-align: start;
  overflow: hidden;
}

.website-hook {
  position: absolute;
  text-decoration: none;
  color: rgb(193, 182, 182);
  font-family: "Inter";
}

.feisty {
  font-size: 0.9vw !important;
}

.m-prs {
  /* Meme price reducer */
  font-size: 0.5vw !important;
}

.m-pr {
  /* Meme price reducer */
  font-size: 0.7vw !important;
}

.m-pr1 {
  /* Meme price reducer */
  font-size: 0.8vw !important;
}

.m-pr2 {
  /* Meme price reducer */
  font-size: 0.95vw !important;
  text-align: center;
}

.m-tr {
  /* Meme price reducer */
  font-size: 1.1rem !important;
}

.m-tr1 {
  /* Meme price reducer */
  font-size: 1.3rem !important;
}

.m-tr2 {
  /* Meme price reducer */
  font-size: 1.7rem !important;
}

.m-tr3 {
  /* Meme price reducer */
  font-size: 2.5rem !important;
}

.chihuahuatoken-price {
  font-size: 2vw;
}

@media only screen and (max-width: 1915px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-auto-rows: 115px;
    height: 90%;
  }
  .tile-container-m {
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-auto-rows: 115px;
    height: 90%;
  }
}

@media only screen and (max-width: 1850px) {
  .price-perc-change {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 1780px) {
  .c-last {
    display: none;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-price {
    font-size: 1.3rem;
  }

  .card-percentage {
    font-size: 1.1rem;
  }

  .card-title-fat {
    font-size: 3rem;
  }

  .card-price-fat {
    font-size: 2.3rem;
  }

  .card-percentage-fat {
    font-size: 1.75rem;
  }

  .card-title-wide {
    font-size: 3rem;
  }

  .card-price-wide {
    font-size: 1.5rem;
  }

  .card-percentage-wide {
    font-size: 1rem;
  }

  .card-title-tall {
    font-size: 3.2rem;
  }

  .card-price-tall {
    font-size: 1.75rem;
  }

  .card-percentage-tall {
    font-size: 1rem;
  }

  .shiba-price {
    font-size: 1rem;
  }
  .eth {
    font-size: 2.8rem;
  }
  .algo {
    font-size: 1.3rem;
  }

  .t2 {
    font-size: 1.2vw;
  }
  .t3 {
    font-size: 1.2vw;
  }
  .t4 {
    font-size: 1vw;
  }
  .t5 {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 1660px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 110px;
    height: 80%;
  }
  .tile-container-m {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 110px;
    height: 80%;
  }
  .circ-s {
    font-size: 0.8rem;
  }
  .search-side {
    width: 11rem;
  }
  .coin-title {
    font-size: 1rem;
  }
  .search-flex-top {
    gap: 0;
  }
  .search-inner-modal {
    width: 30rem;
  }
  .fetched-rank {
    font-size: 1.5rem;
  }
  .brand-logo-div {
    width: 17.3rem;
  }
}

@media only screen and (max-width: 1595px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    height: 65%;
  }
  .tile-container-m {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    height: 65%;
  }
  .card-title-wide {
    font-size: 2.4rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
  .bitcoincash {
    font-size: 1.2rem;
  }
  .card-price {
    font-size: 1.2rem;
  }
  .card-percentage {
    font-size: 1rem;
  }
  .shiba-price {
    font-size: 0.8rem;
  }
  .chainlink {
    font-size: 1.1rem;
  }
  .eth {
    font-size: 2.6rem;
  }
  .state-coinname {
    font-size: 1.5rem;
  }
  .setup-title {
    font-size: 1.7rem;
  }

  .watch-title {
    font-size: 1.4vw;
  }
  .watch-price {
    font-size: 1.4vw;
  }
  .watch-24h-change {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 1490px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    height: 90%;
  }
  .tile-container-m {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    height: 90%;
  }
  .c-last {
    display: flex;
  }
  .c-last2 {
    display: none;
  }
  .compound {
    font-size: 1rem;
  }
  .search-right-box {
    width: 35%;
  }
  .t1a {
    font-size: 2vw;
  }
  .input-container {
    width: 50%;
    left: 25%;
  }
  .tamadoge {
    font-size: 1vw !important;
  }
  .safemoon-title {
    font-size: 2vw !important;
  }
  .cumrocket {
    font-size: 1vw !important;
  }
  .shihtzu {
    font-size: 1.2vw !important;
  }
  .duckereum {
    font-size: 1vw !important;
  }
  .solabrador {
    font-size: 1vw !important;
  }
  .samoyedcoin {
    font-size: 1.9vw !important;
  }
  .safemooninu {
    font-size: 1.1vw !important;
  }
  .jejudoge {
    font-size: 1.1vw !important;
  }
  .babysamocoin-price {
    font-size: 1.8vw !important;
  }
  .chi-tit {
    font-size: 1.8vw !important;
  }
  .chihuahuatoken-price {
    font-size: 1.8vw !important;
  }
  .dogedash-price {
    font-size: 0.9vw !important;
  }
  .dogedash {
    font-size: 1vw !important;
  }
  .woof-price {
    font-size: 1vw !important;
  }
  .shiba2 {
    font-size: 2.1vw !important;
  }
  .shiba-price2 {
    font-size: 1.6vw !important;
  }
  .feisty {
    font-size: 1.2vw !important;
  }
}

@media only screen and (max-width: 1400px) {
  .eth {
    font-size: 2.4rem;
  }
  .arweave {
    font-size: 1.1rem;
  }
  .compound {
    font-size: 0.9rem;
  }
  .synthetix {
    font-size: 1.1rem;
  }
  .cardano {
    font-size: 1.1rem;
  }
  .algo {
    font-size: 1.1rem;
  }
  .uniswap {
    font-size: 1.1rem;
  }
  .coin-fetch-title {
    font-size: 2.5rem;
  }
  .coin-fetch-output {
    font-size: 2rem !important;
  }
  .target-price-title {
    font-size: 2.5rem;
  }
  .target-price-expected {
    font-size: 2rem !important;
  }
  .tile-container {
    height: 90%;
  }
  .tile-container-m {
    height: 90%;
  }
  .search-img-box {
    position: relative;
    width: 75%;
    height: 100%;
  }
  .fluctuate {
    padding: 0.2rem 1.6rem;
    width: 3rem;
    height: 1.8rem;
    font-family: "Open Sans";
    font-size: 0.7rem;
    border-radius: 0.6rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .coin-title {
    position: relative;
    height: 3rem;
    width: 3rem;
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    align-items: flex-start;
    font-family: "Helvetica";
  }
  .res-total-sup {
    font-size: 1.3vw;
  }
  .corgicoin {
    font-size: 1rem !important;
  }
  .shibavax {
    font-size: 1rem !important;
  }
  .litedoge {
    font-size: 1rem !important;
  }
  .harambe {
    font-size: 1rem !important;
  }
  .brand-logo-div {
    width: 16.9rem;
  }
}

@media only screen and (max-width: 1370px) {
  .tile-container {
    top: -3.5rem;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: 90px;
    height: 75%;
  }
  .tile-container-m {
    top: -3.5rem;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: 90px;
    height: 75%;
  }
  .fa-magnifying-glass {
    font-size: 2rem;
  }
  .fa-arrow-rotate-right {
    font-size: 2rem;
  }
  .refresh-counter {
    font-size: 0.6rem;
  }
  .search-button {
    position: absolute;
    left: 22rem;
  }
  .refresh-button {
    left: 25rem;
  }
  .nav-list {
    padding-left: 7rem;
  }
  .li-ho4 {
    padding-left: 10rem;
  }
  .disclaimer {
    position: absolute;
    top: 53rem;
    left: 25%;
  }
  .ethclassic {
    font-size: 1rem;
  }
  .card-price {
    font-size: 1.1rem;
  }
  .card-percentage {
    font-size: 0.9rem;
  }
  .card-title-wide {
    font-size: 1.8rem;
  }
  .card-price-wide {
    font-size: 1.3rem;
  }
  .bitcoincash {
    font-size: 1rem;
  }
  .shiba-price {
    font-size: 0.7rem;
  }
  .polkadot {
    font-size: 1rem;
  }
  .polygon {
    font-size: 1rem;
  }
  .cosmos {
    font-size: 1rem;
  }
  .cardano {
    font-size: 1rem;
  }
  .synthetix {
    font-size: 0.8rem;
  }
  .osmosis {
    font-size: 1rem;
  }
  .eth {
    font-size: 2.1rem;
  }
  .xrp {
    font-size: 2.3rem;
  }
  .light-close4 {
    left: 90%;
  }
  .total-sup {
    font-size: 1.2rem;
  }
  .mark-price {
    font-size: 1.2rem;
  }
  .mark-price-high {
    font-size: 1.2rem;
  }
  .mark-price-low {
    font-size: 1.2rem;
  }
  .ath-date {
    font-size: 1.2rem;
  }
  .metadoge {
    font-size: 0.95rem !important;
  }
  .kawakami {
    font-size: 0.95rem !important;
  }
  .elondogetoken {
    font-size: 0.95rem !important;
  }
  .dogebonk {
    font-size: 0.95rem !important;
  }
  .shibapredator {
    font-size: 0.95rem !important;
  }
  .catecoin {
    font-size: 0.95rem !important;
  }
  .kittycoinsolana {
    font-size: 0.95rem !important;
  }
  .monacoin {
    font-size: 0.85rem !important;
  }
  .brand-logo-div {
    width: 16.6rem;
  }
  .add-to-watchlist {
    position: relative;
    width: 8rem;
    height: 3rem;
    background-color: rgb(191, 31, 191);
    font-family: "Inter";
    color: rgb(239, 236, 236);
    font-weight: 800;
    letter-spacing: 3px;

    font-size: 0.8rem;
  }
}

/* @media only screen and (max-width: 1300px) {
} */

@media only screen and (max-width: 1265px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-auto-rows: 70px;
  }
  .tile-container-m {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-auto-rows: 70px;
  }
  .card-title {
    font-size: 0.7rem;
  }
  .card-price {
    font-size: 0.6rem;
  }
  .card-percentage {
    font-size: 0.5rem;
  }
  .card-title-fat {
    font-size: 2rem;
  }
  .eth {
    font-size: 1.6rem;
  }
  .card-price-fat {
    font-size: 1.2rem;
  }
  .card-percentage-fat {
    font-size: 1rem;
  }
  .card-title-wide {
    font-size: 1.2rem;
  }
  .card-price-wide {
    font-size: 1rem;
  }
  .card-percentage-wide {
    font-size: 0.9rem;
  }
  .xrp {
    font-size: 1.3rem;
  }
  .xrp-price {
    font-size: 1rem;
  }
  .xrp-change {
    font-size: 0.8rem;
  }
  .setup-title {
    font-size: 1.5rem;
  }
  .circ-l {
    font-size: 1.1rem;
  }
  .circ-s {
    font-size: 0.7rem;
  }
  .circ-perc-box {
    width: 80%;
    margin-left: 0.9rem;
  }
  .circ-count {
    font-size: 0.8rem;
  }
  .circ-title {
    font-size: 0.9rem;
  }
  .m-prs {
    /* Meme price reducer */
    font-size: 0.4vw !important;
  }

  .m-pr {
    /* Meme price reducer */
    font-size: 0.3vw !important;
  }

  .m-pr1 {
    /* Meme price reducer */
    font-size: 0.8vw !important;
  }

  .m-pr2 {
    /* Meme price reducer */
    font-size: 0.95vw !important;
    text-align: center;
  }

  .m-tr {
    /* Meme price reducer */
    font-size: 0.6rem !important;
  }

  .m-tr1 {
    /* Meme price reducer */
    font-size: 0.5rem !important;
  }

  .m-tr2 {
    /* Meme price reducer */
    font-size: 0.6rem !important;
  }

  .m-tr3 {
    /* Meme price reducer */
    font-size: 1.1rem !important;
  }
  .samoyedcoin {
    font-size: 0.9rem !important;
  }
  .feisty {
    font-size: 0.6rem !important;
  }
  .bobocash {
    font-size: 0.6rem !important;
  }
  .updog {
    font-size: 0.6rem !important;
  }
  .harambe {
    font-size: 0.6rem !important;
  }
  .harambe {
    font-size: 0.6rem !important;
  }
  .wsb-title {
    font-size: 0.6rem !important;
  }
  .cakemonster {
    font-size: 0.4rem !important;
  }
  .catecoin {
    font-size: 0.6rem !important;
  }
  .babysamocoin {
    font-size: 0.8rem !important;
  }
  .search-button {
    position: absolute;
    left: 21rem;
  }
  .refresh-button {
    left: 24rem;
  }
}

@media only screen and (max-width: 1150px) {
  .brand-logo-div {
    width: 16.1rem;
  }
  .state-coinname {
    font-size: 1.3rem;
  }
  .setup-title {
    font-size: 1.3rem;
  }
  .nav-list {
    padding-left: 10rem;
  }
  .circ-l {
    font-size: 1rem;
  }
  .circ-s {
    font-size: 0.6rem;
  }
  .fluctuate {
    padding: 0.15rem 1.5rem;
    width: 3rem;
    height: 1.8rem;
    font-family: "Open Sans";
    font-size: 0.6rem;
    border-radius: 0.6rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-side {
    gap: 0.2rem;
  }
  .input-container {
    width: 60%;
    left: 20%;
  }
  .search-button {
    position: absolute;
    left: 20rem;
  }
  .refresh-button {
    left: 23rem;
  }
}

@media only screen and (max-width: 1000px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-auto-rows: 60px;
  }
  .tile-container-m {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-auto-rows: 60px;
  }
  .main-page {
    display: none;
  }
  .fallback {
    display: flex !important;
    font-size: 3vw;
  }
}
