@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1.3rem;
  background-color: white;
}
::-webkit-scrollbar-track {
  background: black;
  border: 2px solid black;
  /* border-radius: 1rem; */
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  color: black;
  background: white;
  border-radius: 1rem;
  width: 0.5rem;
  border: 4px solid transparent;
  background-clip: padding-box;
}

html {
  background-color: rgb(8, 11, 22);
  /* background-color: red; */
  width: 100vw;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.inv {
  visibility: hidden !important;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rotateDiv {
  animation: rotateDiv 0.5s ease-in-out forwards;
}

@keyframes rotateDiv {
  0% {
    position: absolute;
    transform: rotateX(0deg);
  }
  100% {
    position: absolute;
    transform: rotateX(90deg);
  }
}

nav {
  position: relative;
  background-color: rgb(8, 11, 22);
  width: 100%;
  height: 6rem;
}

.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.search-button {
  position: absolute;
  background-color: transparent;
  top: 1.5rem;
  left: 20rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.refresh-counter {
  position: absolute;
  color: rgb(172, 168, 168);
  z-index: 200;
  text-align: center;
  margin-right: 4px;
}

.refresh-button {
  position: absolute;
  top: 1.5rem;
  left: 24rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  z-index: 10;
}

.fa-arrow-rotate-right {
  color: rgb(172, 168, 168);
  font-size: 3rem;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.refresh-button:hover .fa-arrow-rotate-right {
  color: rgba(255, 255, 255, 0.79);
}

.fa-magnifying-glass {
  color: rgb(172, 168, 168);
  font-size: 3rem;
  transition: all 0.1s ease-in-out;
}

.fa-magnifying-glass:hover {
  color: rgba(255, 255, 255, 0.79);
}

li {
  text-decoration: none;
  list-style-type: none;
}

li > a {
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
  list-style: none;
  text-decoration: none;
  font-size: 1.4rem;
}

.constr {
  position: absolute;
  color: white;
  top: 45rem;
  left: 2rem;

  z-index: 100;
  font-size: 0.8rem;
  font-family: "Press Start 2P", sans-serif;
}

.brand-logo {
  position: absolute;
  height: 5rem;
  left: 4rem;
  top: 0.5rem;
  cursor: pointer;
}

.nav-list {
  position: relative;
  top: 2rem;
  height: 4rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8rem;
}

.li-ho1 {
  position: absolute;
  /* left: 34%; */
  color: rgb(219, 219, 218);
  padding-left: 1.2rem;
}

.li-ho2 {
  position: absolute;
  /* left: 40%; */
  color: rgb(219, 219, 218);
}

.li-ho3 {
  position: absolute;
  /* left: 48%; */
  color: rgb(219, 219, 218);
  padding-left: 1.5rem;
}

.li-ho4 {
  position: absolute;
  padding-left: 18rem;
  color: rgb(219, 219, 218);
}

.li-ho1:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho2:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho3:hover {
  transition: all 0.1s ease-in-out;
  margin-top: 0.2rem;
  color: white;
}

.li-ho4:hover {
  transition: all 0.1s ease-in-out;
  color: white;
}

.main-container {
  position: relative;
  width: 100%;
  background-color: rgb(226, 94, 94);
  height: 50.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-container {
  position: relative;
  height: 100%;
  width: 85%;
  background-color: rgb(8, 11, 22);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 125px;
}

.rotater {
  animation: rotates 1.2s ease-in-out 1;
}

@keyframes rotates {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  50% {
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: blue;
  margin: 0.2rem;
  color: rgba(255, 255, 255, 0.872);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.2rem;
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: 2px;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  top: -0.5%;
  left: -0.5%;
  width: 102%;
  height: 102%;
  box-shadow: 0px 0px 8px cyan;
  border: 1px solid red;
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-tall:hover {
  top: -0.5%;
  left: -0.5%;
  width: 101%;
  height: 101%;
}

.card-wide {
  grid-column: span 2 / auto;
  display: flex;
  justify-content: flex-end;
}
.card-wide:hover {
  top: -0.5%;
  left: -0.5%;
  width: 101%;
  height: 101%;
}

.card-fat {
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
}
.card-fat:hover {
  top: -0.5%;
  left: -0.5%;
  width: 101%;
  height: 101%;
}

.card-title {
  font-size: 2.5rem;
  text-align: center;
}

.c-mid {
  font-size: 2rem;
}

.c-small {
  font-size: 1.6rem;
}

.c-small2 {
  font-size: 1.4rem;
}

.c-small3 {
  font-size: 1.2rem;
}

.card-price {
  font-size: 1.5rem;
}

.card-percentage {
  font-size: 1.25rem;
}

.card-title-fat {
  font-size: 4.5rem;
}

.card-price-fat {
  font-size: 2.75rem;
}

.card-percentage-fat {
  font-size: 1.75rem;
}

.card-title-wide {
  font-size: 3rem;
}

.card-price-wide {
  font-size: 1.75rem;
}

.card-percentage-wide {
  font-size: 1rem;
}

.card-title-tall {
  font-size: 3.5rem;
}

.card-price-tall {
  font-size: 1.75rem;
}

.card-percentage-tall {
  font-size: 1rem;
}

.eth {
  font-size: 3rem;
}

.d1 {
  background: linear-gradient(#eb2626, #cd5f9c) !important;
}

.d2 {
  background: linear-gradient(#ed0b0b, #b41333) !important;
}

.u1 {
  background: linear-gradient(to left, #00bf8f, #085342) !important;
}

.u2 {
  background: linear-gradient(to left, #6cbf5d, #09ee11) !important;
}

.neutral {
  background: linear-gradient(to left, #6969b8, #9e4577) !important;
}

.shiba-price {
  font-size: 1.1rem;
}

.lightbox {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  border: 1px solid rgb(140, 20, 156);
  background: linear-gradient(to right, #0f0c29, #24243e);
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 50;
  overflow: hidden;
}

.notification-box {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  border: 1px solid rgba(140, 20, 156, 0.556);
  background-color: black;
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-anim-container {
  padding-top: 11rem;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  border-radius: 0.6rem;
}

.notif-anim-container2 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.notif-anim-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
  border-radius: 1rem;
}

.result-upper {
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(to right, #200c29, #24243e);
  box-shadow: 1px 1px 10px rgb(140, 20, 156);
  width: 93%;
  height: 46%;
  border-radius: 1rem;
}

.fadeModalOut {
  animation: fadeOut 0.3s ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.current-price {
  text-align: center;
  color: gray;
  text-shadow: 0px 3px 5px rgb(140, 20, 156);
}

.coin-fetch-output {
  text-align: center;
  font-size: 35px !important;
  font-weight: 800;
  background: -webkit-linear-gradient(
    90deg,
    rgb(90, 148, 185),
    rgb(1, 247, 50)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coin-fetch-title {
  text-align: center;
  margin-top: 4rem;
  font-size: 45px;
  background: -webkit-linear-gradient(rgb(130, 181, 212), rgb(140, 20, 156));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-lower {
  margin-top: 1rem;
  position: relative;
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(to left, #0f0c29, #1a1a2c);
  box-shadow: 1px 1px 10px rgb(140, 20, 156);
  width: 93%;
  height: 46%;
  border-radius: 1rem;
}

.target-price {
  text-align: center;
  color: gray;
  text-shadow: 0px 3px 5px rgb(140, 20, 156);
}

.target-price-title {
  text-align: center;
  font-size: 45px;
  background: -webkit-linear-gradient(rgb(130, 181, 212), rgb(140, 20, 156));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3.5rem;
}

.target-price-expected {
  text-align: center;
  font-size: 35px !important;
  background: -webkit-linear-gradient(
    90deg,
    rgb(90, 148, 185),
    rgb(1, 247, 50)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Open Sans";
  font-weight: 800;
}

.center-alert-btn {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.alert-button {
  font-family: "Open Sans";
  background-color: transparent;
  border: 2px solid rgb(140, 20, 156);
  color: white;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-weight: 800;
  font-size: 1.2rem;
  animation: hover 1s ease-in-out infinite;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.alert-button:hover {
  background-color: rgb(140, 20, 156);
}

.fa-arrow-turn-down {
  font-size: 4rem;
  color: rgba(140, 20, 156, 0.502);
  position: absolute;
  left: 0rem;
  top: 7rem;
}

.fa-ar {
  transform: rotate(90deg);
  font-size: 4rem;
  color: rgba(140, 20, 156, 0.502);
  position: absolute;
  left: 0.5rem;
  top: 38rem;
}

@keyframes hover {
  0% {
    position: absolute;
    transform: translateY(0rem);
  }
  50% {
    position: absolute;
    transform: translateY(0.2rem);
  }
  100% {
    position: absolute;
    transform: translateY(0rem);
  }
}

.result-output-box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
}
.result-setup-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.result-modal {
  position: relative;
  width: 93%;
  height: 50%;
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(to right, #0f0c29, #24243e);
  border-radius: 1rem;
  box-shadow: 1px 1px 10px rgb(140, 20, 156);
  margin-right: 1rem;
}

.percentage-box {
  margin-top: 1rem;
  position: relative;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.user-percentage-input {
  position: relative;
  padding: 0.3rem 0rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  width: 4rem;
  font-size: 1.2rem;
  text-align: center;
  outline: 0;
  background-color: transparent;
  border: 2px solid rgb(140, 20, 156);
  color: white;
  font-weight: 800;
}

.msg-modal {
  position: absolute;
  color: white;
  background-color: #080b16;
  border: 2px solid rgb(140, 20, 156);
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  border-radius: 0.6rem;
  width: 15rem;
  height: 5rem;
  left: 45%;
  top: 3rem;
  z-index: 100;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 0.75rem;
}

.msgAnimate {
  animation: msgFade 4s ease-in-out forwards;
}

@keyframes msgFade {
  0% {
    display: initial;
    transform: translateY(-5rem);
    opacity: 1;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(4rem);
    opacity: 0;
    display: none;
  }
}

.setup-title {
  text-align: center;
  margin-top: 0.5rem;
  color: gray;
  text-shadow: 0px 3px 5px rgb(140, 20, 156);
}

.state-coinname {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.coin-param {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(140, 20, 156);
  border-radius: 0.4rem;
  font-size: 1.5rem;
  width: 10rem;
  outline: 0;
  cursor: pointer;
}

.center-options {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.coin-param option {
  color: white;
  background-color: black;
}

.user-coin-query {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  width: 17rem;
  font-family: "Open Sans";
  font-weight: 800;
  border-radius: 0.2rem;
  border: none;
  outline: 0;
  text-decoration: none;
}

.calculate-price {
  margin-top: 4rem;
  position: relative;
  width: 10rem;
  background-color: transparent;
  border: 2px solid rgb(140, 20, 156);
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem 2rem;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.calculate-price:hover {
  background-color: rgb(163, 34, 181);
  border: 2px solid transparent;
}

.calculate-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.notif-push {
  font-family: "Open Sans";
  padding: 0.75rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 800;
  border: 2px solid rgb(140, 20, 156);
  background: transparent;
  color: white;
  transition: all 0.15s ease-in-out;
}

.notif-push:hover {
  background: rgb(140, 20, 156);
}

.not-working {
  position: absolute;
  top: 45rem;
  color: white;
  font-family: "Open Sans";
  cursor: pointer;
}

.reset-img {
  /* position: absolute; */
  top: 37rem;
}

.coin-search {
  font-family: "Open Sans";
  padding: 0.75rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.15s ease-in-out;
  color: white;
  background-color: black;
  border: 2px solid rgb(140, 20, 156);
}

.coin-search:hover {
  background-color: rgb(140, 20, 156);
}

.by {
  position: relative;
  top: -0.15rem;
  font-size: 2rem;
  font-weight: 800;
  padding-right: 0.5rem;
}

.perc-span {
  position: relative;
  top: -0.15rem;
}

.enter-number {
  color: red;
  position: absolute;
  font-family: "Open Sans";
}

.allow-text {
  text-align: center;
}

.specify-text {
  text-align: center;
}

.dropshadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: rgba(16, 20, 16, 0.71);
}

.dropshadow-contr {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: rgba(16, 20, 16, 0.71);
}

.dropshadow-srch {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: rgba(16, 20, 16, 0.71);
}

.fa-x {
  position: absolute;
  color: white;
  font-size: 2rem;
  left: 93%;
  top: 2rem;
  cursor: pointer;
  z-index: 10;
}

.rank {
  position: relative;
  font-size: 2rem;
  color: white;
}

.coin-name {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
  background: -webkit-linear-gradient(
    90deg,
    rgb(210, 39, 210),
    rgba(172, 78, 191, 0.479)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.dropIn {
  animation: dropIn 1s ease-in forwards;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.chart-container {
  position: relative;
  height: 42rem;
  top: 4.8rem;
}

.tradingview-widget-container {
  position: relative;
  height: 30rem;
  width: 100%;
}

#chartbox {
  width: 100%;
  position: relative;
  height: 40rem;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fallback {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in forwards;
}

.disclaimer {
  margin-top: 1rem;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
}

.romspan {
  color: green;
  text-decoration: none;
}

.sitespan {
  color: white;
  text-decoration: none;
}

.refreshRotate {
  animation: rotating ease-in-out 1s forwards;
}

.search-contract-box {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  /* border: 1px solid rgb(140, 20, 156); */
  /* background: linear-gradient(90deg, #c33764, #1d2671); */
  background: linear-gradient(to right, #0f0c29, #24243e);
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 50;
}

.slideOutDiv {
  animation: slideOut 1.5s ease-in-out forwards;
}

.slideInDiv {
  animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.input-container {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 30%;
  width: 40%;
  top: 5rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.9rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.t1a {
  position: relative;
  top: 5rem;
  text-align: center;
  font-weight: 800;
  font-size: 2.4vw;
  color: rgb(140, 20, 156);
}

.t2 {
  padding-left: 1rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: rgb(140, 20, 156);
}

.t2a {
  color: white;
}

.t3 {
  padding-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: rgb(140, 20, 156);
}
.t3a {
  color: white;
}

.t4 {
  padding-left: 1rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: rgb(140, 20, 156);
}

.t4a {
  color: white;
}

.t5 {
  padding-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: rgb(140, 20, 156);
}

.t5a {
  color: white;
}

.return-result {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  transform: rotate(180deg);
  position: relative;
  top: -1.5rem;
  left: 1rem;
  cursor: pointer;
}

.return-result:hover {
  color: rgb(140, 20, 156);
}

.result-container {
  position: absolute;
  left: 30%;
  width: 40%;
  top: 5rem;
  height: 30rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.result-flex {
  position: relative;
  width: 100%;
  /* background-color: red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.result-boxes {
  position: absolute;
  width: 100%;
  height: 40rem;
  top: 5rem;
  transition: all 0.3s ease-in-out;
}

.search-input-box {
  border-radius: 0.9rem;
  width: 30rem;
  height: 30rem;
}

.error-text {
  color: red;
  font-family: "Open Sans";
}

.error-text2 {
  color: red;
  font-family: "Open Sans";
}

.search-title {
  font-family: "Open Sans";
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.blockchains {
  background-color: transparent;
  border: 1px solid rgb(140, 20, 156);
  color: white;
  padding: 0.75rem 1.75rem;
  border-radius: 0.4rem;
  width: 13rem;
  cursor: pointer;
}

.contract-input::placeholder {
  color: white;
}

.contract-input {
  background-color: transparent;
  border: 1px solid rgb(140, 20, 156);
  color: white;
  padding: 0.75rem 1.75rem;
  border-radius: 0.4rem;
  width: 13rem;
  font-family: "Open Sans";
}

option {
  background-color: black;
  border: 2px solid black;
  font-family: "Open Sans";
  border: none;
}

select {
  outline: 0;
}

option:focus {
  outline: none;
  border: 1px solid rgb(140, 20, 156) !important;
}

.opt2 {
  background-color: transparent;
}

.seach-coin-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(140, 20, 156);
  font-family: "Open Sans";
  cursor: pointer;
  font-weight: 800;
  padding: 0.5rem 1.25rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.seach-coin-btn:hover {
  color: white;
  background-color: rgb(140, 20, 156);
}

.opacityOut {
  animation: opaOut 1s ease-in-out forwards;
}

@keyframes opaOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-modal {
  position: absolute;
  left: 25%;
  top: 5rem;
  width: 50%;
  height: 50rem;
  box-shadow: 0px 0px 15px rgb(140, 20, 156);
  border: 1px solid rgba(140, 20, 156, 0.556);
  background-color: black;
  border-radius: 1rem;
  font-family: "Open Sans";
  color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.search-inner-modal {
  position: relative;
  width: 20rem;
  height: 30rem;
  background: linear-gradient(to right, #0f0c29, #161626);
  border-radius: 1rem;
}

.search-modal-title {
  padding-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
}

.search-coin-input {
  position: relative;
  width: 60%;
  top: 6rem;
  left: 20%;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  outline: 0;
  font-size: 1.3rem;
}

input:focus {
  outline: none;
}

.search-coin-btn {
  position: relative;
  width: 10rem;
  height: 3rem;
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(140, 20, 156);
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.search-coin-btn:hover {
  background-color: rgb(140, 20, 156);
}

.cntr-sr-btn {
  top: 7rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.cant-find {
  color: red;
}

@media only screen and (max-width: 1915px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-auto-rows: 115px;
  }
}

@media only screen and (max-width: 1780px) {
  .c-last {
    display: none;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-price {
    font-size: 1.3rem;
  }

  .card-percentage {
    font-size: 1.1rem;
  }

  .card-title-fat {
    font-size: 3rem;
  }

  .card-price-fat {
    font-size: 2.3rem;
  }

  .card-percentage-fat {
    font-size: 1.75rem;
  }

  .card-title-wide {
    font-size: 3rem;
  }

  .card-price-wide {
    font-size: 1.5rem;
  }

  .card-percentage-wide {
    font-size: 1rem;
  }

  .card-title-tall {
    font-size: 3.2rem;
  }

  .card-price-tall {
    font-size: 1.75rem;
  }

  .card-percentage-tall {
    font-size: 1rem;
  }

  .shiba-price {
    font-size: 1rem;
  }
  .eth {
    font-size: 2.8rem;
  }
  .algo {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1660px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-auto-rows: 110px;
  }
}

@media only screen and (max-width: 1595px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }
  .card-title-wide {
    font-size: 2.4rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
  .bitcoincash {
    font-size: 1.2rem;
  }
  .card-price {
    font-size: 1.2rem;
  }
  .card-percentage {
    font-size: 1rem;
  }
  .shiba-price {
    font-size: 0.8rem;
  }
  .chainlink {
    font-size: 1.1rem;
  }
  .eth {
    font-size: 2.6rem;
  }
  .state-coinname {
    font-size: 1.5rem;
  }
  .setup-title {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 1490px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }
  .c-last {
    display: flex;
  }
  .c-last2 {
    display: none;
  }
  .compound {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1400px) {
  .eth {
    font-size: 2.4rem;
  }
  .arweave {
    font-size: 1.1rem;
  }
  .compound {
    font-size: 0.9rem;
  }
  .synthetix {
    font-size: 1.1rem;
  }
  .cardano {
    font-size: 1.1rem;
  }
  .algo {
    font-size: 1.1rem;
  }
  .uniswap {
    font-size: 1.1rem;
  }
  .coin-fetch-title {
    font-size: 2.5rem;
  }
  .coin-fetch-output {
    font-size: 2rem !important;
  }
  .target-price-title {
    font-size: 2.5rem;
  }
  .target-price-expected {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 1370px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: 90px;
  }
  .ethclassic {
    font-size: 1rem;
  }
  .card-price {
    font-size: 1.1rem;
  }
  .card-percentage {
    font-size: 0.9rem;
  }
  .card-title-wide {
    font-size: 1.8rem;
  }
  .card-price-wide {
    font-size: 1.3rem;
  }
  .bitcoincash {
    font-size: 1rem;
  }
  .shiba-price {
    font-size: 0.7rem;
  }
  .polkadot {
    font-size: 1rem;
  }
  .polygon {
    font-size: 1rem;
  }
  .cosmos {
    font-size: 1rem;
  }
  .cardano {
    font-size: 1rem;
  }
  .synthetix {
    font-size: 0.8rem;
  }
  .osmosis {
    font-size: 1rem;
  }
  .eth {
    font-size: 2.1rem;
  }
  .xrp {
    font-size: 2.3rem;
  }
}

/* @media only screen and (max-width: 1300px) {
} */

@media only screen and (max-width: 1265px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-auto-rows: 70px;
  }
  .card-title {
    font-size: 0.7rem;
  }
  .card-price {
    font-size: 0.6rem;
  }
  .card-percentage {
    font-size: 0.5rem;
  }
  .card-title-fat {
    font-size: 2rem;
  }
  .eth {
    font-size: 1.6rem;
  }
  .card-price-fat {
    font-size: 1.2rem;
  }
  .card-percentage-fat {
    font-size: 1rem;
  }
  .card-title-wide {
    font-size: 1.2rem;
  }
  .card-price-wide {
    font-size: 1rem;
  }
  .card-percentage-wide {
    font-size: 0.9rem;
  }
  .xrp {
    font-size: 1.3rem;
  }
  .xrp-price {
    font-size: 1rem;
  }
  .xrp-change {
    font-size: 0.8rem;
  }
  .setup-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1150px) {
  .li-ho4 {
    padding-left: 15rem;
  }
  .state-coinname {
    font-size: 1.3rem;
  }
  .setup-title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .tile-container {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-auto-rows: 60px;
  }
  .main-page {
    display: none;
  }
  .fallback {
    display: flex !important;
    font-size: 3vw;
  }
}
